* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.header {
    padding: 15px 0;
}

.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation-link {
    text-decoration: none;
    color: #939699;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.button {
    padding: 10px 20px;
    background: #4592FF;
    border-radius: 20px;
    outline: none;
    border: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
}
.button-icon, .button-price {
    margin-right: 10px;
}

.button-icon:last-child {
    margin-right: 0;
    margin-left: 10px;
}

.slider {
    position: relative;
}

.slide {
    padding-top: 90px;
    padding-bottom: 110px;
}

.slide-1 {
    background: #B4D1E0 no-repeat url('../img/slide-1.png') top right 38%;
}

.label {
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
    padding: 5px 12px;
    background: #3DC47E;
    border-radius: 3px;
}

.slide-title {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 70px;
    color: #262D33;
    margin-top: 20px;
    margin-bottom: 15px;
}

.slide-description {
    max-width: 335px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #4B5157;
    margin-bottom: 40px;
}

.slider-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.slider-button {
    background: transparent;
    border: 0;
    cursor: pointer;
}

.card {
    min-height: 370px;
    border-radius: 10px;
    padding-top: 60px;
    padding-left: 46px;
    padding-bottom: 80px;
}

.card-1 {
    background: #ffffff url('../img/card-1.png') no-repeat center;
    background-size: cover;
}

.card-title {
    max-width: 222px;
    margin: 0;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #262d33;
}

.card-title.large {
    max-width: 420px;
    font-size: 40px;
    line-height: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.card-text {
    max-width: 176px;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 20px;
    color: #4b5157;
}

.card-text.large{
    max-width: 320px;
    margin-bottom: 40px;
}

.card-2 {
    background: #000000 url('../img/card-2.png') no-repeat center;
    background-size: cover;
}

.text-lite {
    color:#ffffff;
}

.card-3 {
    background: #ccd5e6 url('../img/card-3.png') no-repeat top right 10%;
    background-size: contain;
    padding-top: 35px;
    padding-bottom: 60px;
}

.card-4 {
    background: #ff4f52 url('../img/card-4.png') no-repeat top right;
    background-size: contain;
    padding-top: 35px;
    padding-left: 25px;
}

.card-price {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
}

.section-title {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #262D33;
}
.more {
    text-decoration: none;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    color: #262D33;
    padding: 10px;
}

.goods-card {
    position: relative;
    padding: 30px 35px 35px 35px;
    text-align: center;
}

.goods-card .label {
    position: absolute;
    top: 18px;
    left: 18px;
}

.goods-title {
    margin-top: 15px;
    margin-bottom: 5px;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: #262D33;
}
.goods-description {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
}

.goods-price {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
}

.footer {
    padding-top: 45px;
    padding-bottom: 40px;
    background: #8f79d4;
    color: #ffffff;
}

.footer-menu {
    list-style: none;
    padding-left: 0;    
}

.footer-menu-item:not(:last-child) {
    margin-right: 40px;
}

.footer-menu-link {
    text-decoration: none;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
}

.footer-text {
    font-size: 14px;
    line-height: 20px;
    color: #e7d9ff;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}

.social-link {
    text-decoration: none;
    margin-left: 15px;
}

.social-link:first-child {
    margin-left: 25px;
}

.footer-line {
    mix-blend-mode: screen;
    opacity: .5;
}

.paysystem-logo {
    mix-blend-mode: screen;
    margin-right: 15px;
    vertical-align: middle;
}

.top-link {
    text-decoration: none;
    color: #ffffff;
}

.top-link .footer-text {
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    margin-right: 15px;
}
