.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation-link {
    text-decoration: none;
    color: #939699;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.button {
    padding: 10px 20px;
    background: #4592FF;
    border-radius: 20px;
    outline: none;
    border: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
}
.button-icon {
    margin-right: 10px;
}

.cart-text {

}